<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <body th:replace="layout :: layout('Đăng nhập', ~{::content})">
    <th:block th:fragment="content">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
          <div class="card">
            <div class="card-body">
              <h1 class="h4 mb-3">Đăng nhập</h1>

              <form th:action="@{/login}" th:object="${form}" method="post" class="vstack gap-3">
                <div>
                  <label class="form-label">Username</label>
                  <input class="form-control" th:field="*{username}" autocomplete="username" />
                  <div class="text-danger small" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                </div>
                <div>
                  <label class="form-label">Mật khẩu</label>
                  <input class="form-control" th:field="*{password}" type="password" autocomplete="current-password" />
                  <div class="text-danger small" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
                <button class="btn btn-primary" type="submit">Đăng nhập</button>
              </form>

              <hr />
              <div class="small">
                Chưa có tài khoản? <a th:href="@{/register}">Đăng ký</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>

